<section class="flex flex-col items-center gap-2">
    <label class="text-lg">Password:</label>
    <input placeholder="Enter your password" class="border w-80 p-1" type="password" [(ngModel)]="password"
        (ngModelChange)="checkPasswordStrength()">
</section>
<section>
    <div
        [ngClass]="{'weak': passwordStrength === 'weak' , 'wrong': passwordStrength === 'wrong', 'medium': passwordStrength === 'medium', 'strong': passwordStrength === 'strong', 'easy': passwordStrength === 'easy' }">
    </div>
    <div
        [ngClass]="{ 'weak': passwordStrength === 'weak' , 'wrong': passwordStrength === 'wrong',  'medium': passwordStrength === 'medium', 'strong': passwordStrength === 'strong' }">
    </div>
    <div
        [ngClass]="{ 'weak': passwordStrength === 'weak' , 'wrong': passwordStrength === 'wrong', 'strong': passwordStrength === 'strong' }">
    </div>
</section>