.weak {
  background-color: gray;
}
.easy {
  background-color: red;
}
.medium {
  background-color: yellow;
}
.strong {
  background-color: green;
}
.wrong{
    background-color: red;
}
div {
  width: 20rem;
  height: 3rem;
  margin: 5px;
  background-color: gray;
  border-radius: 8px;
}
